:root {
  /* Colors */
  /* Primary */
  /* (intro and email sign up background) */
  --dark-blue-intro: hsl(217, 28%, 15%);
  /* (main background); */
  --dark-blue-main: hsl(218, 28%, 13%);
  /* (footer-background); */
  --dark-blue-footer: hsl(216, 53%, 9%);
  /* (testimonials-background); */
  --dark-blue-testimonials: hsl(219, 30%, 18%);
  /* Accent */
  /* (inside call-to-action gradient) */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  /* (error) */
  --light-red: hsl(0, 100%, 63%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --font-Open: "Open Sans", sans-serif;
  --font-Raleway: "Raleway", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: var(--font-Open);
}

body {
  background-color: var(--dark-blue-main);
  color: var(--white);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

/* header */
#header {
  width: 100%;
  grid-template-rows: 60px 360px;
  background-color: var(--dark-blue-intro);
  text-align: center;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.header_top {
  grid-template-columns: 80px 180px;
  justify-content: space-between;
  padding: 1em;
}
.logo_header {
  width: 75px;
}
#navbar {
  width: 180px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.link {
  text-decoration: none;
  color: var(--white);
  text-align: center;
  font-weight: 100;
}
.ill_intro {
  margin: auto;
  width: 300px;
}
.header_main {
  top: 100px;
  width: 350px;
  margin: 0 auto;
  position: relative;
  grid-template-rows: 290px repeat(3, auto);
  gap: 1em;
}
.title_header {
  line-height: 1.5em;
  text-align: center;
  font-size: 1.8em;
  font-family: var(--font-Raleway);
}

.description {
  line-height: 1.5em;
  font-size: 1.1em;
}

.button {
  margin: auto;
  width: 75%;
  padding: 1em;
  color: var(--white);
  border: none;
  font-size: 1em;
  font-weight: 600;
  font-family: var(--font-Raleway);
  border-radius: 2em;
  background: linear-gradient(45deg, var(--cyan), var(--blue));
}

/* main */
#main {
  padding-top: 280px;
  width: 90%;
  background-color: var(--dark-blue-main);
  text-align: center;
  margin: auto;
}
/* services */
.services {
  margin: auto;
  width: 330px;
  grid-template-rows: repeat(auto-fit, minmax(210px, 250px));
  gap: 4em;
}

.service {
  grid-template-rows: 90px repeat(2, auto);
  gap: 1em;
}

.img_service {
  margin: auto;
  width: 60px;
}
/* info_works */
.info_works {
  margin: 6em auto;
  grid-template-rows: repeat(4, auto);
  gap: 1em;
  width: 340px;
}

.title_works {
  text-align: left;
  font-size: 1.4em;
}
.description_works {
  text-align: left;
  font-size: 1.05em;
}

.link_works {
  width: 152px;
  border-bottom: 2px solid var(--cyan);
  padding: 0.5em 0;
}
.text_link {
  color: var(--cyan);
  margin-right: 0.3em;
}
.img_link_works {
  vertical-align: bottom;
}

/* testimonial_team */
.img_quotes {
  position: relative;
  top: 28px;
  width: 25px;
}
.testimonial_team {
  padding: 3em 0 25em;
  gap: 2em;
}

.team {
  margin: auto;
  width: 340px;
  height: 210px;
  padding: 2em 1.8em;
  background-color: var(--dark-blue-testimonials);
  text-align: left;
}

.description_team {
  font-size: 0.8em;
  line-height: 1.5em;
}
.team_work {
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "img name"
    "img post";
  gap: 0.2em;
}
.img_profile {
  grid-area: img;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.name_worker {
  letter-spacing: 0.1em;
  grid-area: name;
}
.post_team {
  grid-area: post;
  font-size: 0.85em;
}

/* Acces today footer*/
.access_today {
  margin: 0 auto;
  width: 345px;
  background-color: var(--dark-blue-intro);
  padding:2em;
  text-align: center;
  gap:2em;
  position:relative;
  bottom:170px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.274);
  border-radius: .6em;
  border:1px solid var(--dark-blue-intro);
  margin-bottom: -6.5em;
}

.title_access {
  font-size: 1.5em;
  font-weight: 600;
}
.description_access {
  font-size: 1em;
}
.button_access {
  grid-template-rows:repeat(2,70px);
}
input[type="email"] {
  height: 75%;
  border-radius: 3em;
  border: none;
  padding:1em 2em;
  outline: 1px solid var(--dark-blue-intro);
}

.input_email::placeholder {
  color:rgba(128, 128, 128, 0.447);
}
.button_access_ {
  width: 100%;
  height: 75%;
}
#footer {
  background-color: var(--dark-blue-footer);
  padding-bottom: 3em;
}

.container_footer_cta {
  margin: auto;
  width: 345px;
  height: 100%;
  grid-template-rows: repeat(4,auto);
  gap:5em;
}
.icon_info_footer {
  width: 100%;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 60px repeat(3,auto);
  grid-template-areas: 
  "logo_footer logo_footer" 
  "icon_1 desc_1" 
  "icon_2 desc_2" 
  "icon_3 desc_3" ;
  gap:2em;
  padding:0 1em;
  align-items: flex-start;
}
.logo_footer {
  grid-area: logo_footer;
  height: 100%;
}
.icon_footer {
  padding-top: .4em;
  width: 18px;
  height: calc(20px + .2em);
}
.description_icon {
  font-size: 1.1em;
}
.icon_footer1 {
  grid-area: icon_1;
}
.icon_footer2 {
  grid-area: icon_2;
}
.icon_footer3 {
  grid-area: icon_3;
}
.description_icon1 {
  grid-area: desc_1;
}
.description_icon2 {
  grid-area: desc_2;
}
.description_icon3 {
  grid-area: desc_3;
}
.list_contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:1em;
  padding: 0 1em;
}
.list_contact .link {
  font-size: 1.25em;
  font-weight: 100;
}
.button_link {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button_link_social i {
  border:1px solid var(--white);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  color:var(--white);
  padding: .5em 0;
}